/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  文件：user/users
  问题：行高太大
  修改：el-table 中 th 的行高值
*/
.el-table__header th {
  /* line-height: 0; */
  line-height: normal !important;
}
.el-container .el-main {
  line-height: normal !important;
  text-align: left;
}
.el-dialog__header {
  text-align: left;
}
